<table border='1'>
	<tr>
		<th>Nº da NCF</th>
		<th>Status Atual</th>
		<th>Horário para a próxima mudança de Status</th>
		<th>Motorista responsável pelo velório</th>
		<th>Alterar Status</th>
	</tr>
	<% @chamados.each do |c| %>
	<tr>
		<td><%= c.ncf.id %></td>
		<td><%= c.status %></td>
		<td><%= c.tempo_prox_status.strftime('%d-%m-%Y %H:%M') %></td>
		<td><%= c.motorista_velorio_id ? Motorista.find(c.motorista_velorio_id).nome : "Nenhum motorista alocado" %></td>
		<td><%= link_to 'Próximo Status', atualizar_status_path(c.id) %></td>		
	</tr>
	<% end %>	
</table>

<%= link_to "Criar novo chamado", new_chamado_path %>
<%= link_to "Logout", logout_path, method: 'delete' %>