<table border='1'>
	<tr>
		<th>Nº da NCF</th>
		<th>Status Atual</th>
		<th>Horário para a próxima mudança de Status</th>
		<th>Motorista responsável pelo velório</th>
		<th>Selecionar Status</th>
		<th>Alterar Status</th>
	</tr>
	<% @chamados.each do |c| %>
	<tr>
		<td><%= c.ncf.id %></td>
		<td><%= c.status %></td>
		<td><%= c.tempo_prox_status.strftime('%d-%m-%Y %H:%M') %></td>
		<td><%= c.motorista_velorio_id ? Motorista.find(c.motorista_velorio_id).nome : "Nenhum motorista alocado" %></td>
		<%= form_tag controlador_atualizacao_path(:id => c.id) do |f| %>
			<td><%= select_tag :status, options_for_select(['Alocar motorista de velório', 'À caminho do falecido', 'À caminho do local de velório', 'Alocando motorista de sepultamento', 'À caminho do local de sepultamento', 'Finalizado']) %></td>
			<td><%= submit_tag %></td>
		<% end %>
		
	</tr>
	<% end %>	
</table>

<%= link_to "Criar novo chamado", new_chamado_path %>
<%= link_to "Logout", logout_path, method: 'delete' %>