<div id="principal">
	Nº da NCF: <%= @chamado.id %><br>
	Data do Velorio: <%= @chamado.data_velorio %><br>
	Data do Sepultamento: <%= @chamado.data_sepultamento %><br>
	Status: <%= @chamado.status %><br>

<% if @chamado.status != "Finalizado" %>
	Tempo estimado: <span id="countdown" class="timer">Calculando...</span>
	<br>
	<br>
	Motorista alocado: <%= @motorista ? @motorista.nome : "Nenhum motorista alocado" %><br>
	<%= @motorista ? image_tag(@motorista.foto.url) : image_tag("default-user.png", size:"100x150") %>
	Número do Comunicador: <%= @motorista ? @motorista.n_comunicador : "Nenhum motorista alocado" %>
<% elsif @chamado.status == "Finalizado" && @chamado.nota.nil? %>	
	Obrigado por votar!
<% end %>
</div>
